@use '@/shared/styles/variables.scss' as variables;
@use 'sass:color';

.button {
  border: 0;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &[disabled] {
    cursor: auto;
  }

  &.contained {
    color: #fff;
    background-color: variables.$accent;
    border-radius: 11px;
    padding: 0 20px;
    height: 65px;
  }

  &.text {
    $defaultColor: #8C88A6;
    font-family: inherit;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: $defaultColor;
    padding: 50px 0;
    background: none;

    &[disabled] {
      color: color.scale($defaultColor, $lightness: 30%, $saturation: -100%);
    }
  }

  &.alternative {
    @extend .contained;
    color: #000;
    background-color: #F1EFFF;
    transition-property: color, background-color;
    transition-duration: 120ms;

    &:hover {
      background-color: variables.$accent;
      color: #fff;
    }
  }
}