@use '@/shared/styles/variables.scss' as variables;

.aboutPageInfo {
  display: flex;
  width: 100%;
  max-width: variables.$max-width;
  margin-top: 90px;

  > * {
    flex: 1;
  }

  h2 {
    font-size: 40px;
  }
  
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #8C88A6;

    &::before {
      content: '—';
      color: variables.$accent;
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 963px) {
    gap: 25px;
    flex-direction: column;
  }
}