@use '@/shared/styles/variables.scss' as variables;

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;

  @media screen and (max-width: variables.$breakpoint-tablet) {
    margin: 0;
    padding: 15px;
  }

  .nav {
    width: 100%;
    max-width: variables.$max-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;

    .logo {
      position: relative;
      aspect-ratio: 166.76 / 75;
      width: auto;
      height: 75px;
    }

    .links {
      background: #F9F9FF;
      padding: 14px 28px;
      border-radius: 12px;
      display: flex;
      gap: 10px;
      width: 673px;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      @media screen and (max-width: 980px) {
        padding: 14px;
      }

      @media screen and (max-width: variables.$breakpoint-tablet) {
        display: none;
      }

      > *, .contactsButton {
        display: flex;
        padding: 0.5rem 1rem;
        background: none;
        font: inherit;
        font-weight: 500;
        font-size: 15px;
        border: 0;
        cursor: pointer;
        transition: color 0.15s ease-in-out;

        @media screen and (max-width: 980px) {
          padding: 0.5rem 0;
        }

        &:hover {
          color: variables.$accent;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 6px;

      .loginButton {
        @media screen and (max-width: variables.$breakpoint-tablet) {
          display: none;
        }
      }

      .supportButton {
        @media screen and (max-width: variables.$breakpoint-tablet) {
          font-size: 0px;
          background-image: url(./support.svg);
          background-size: cover;
          width: 39px;
          height: 39px;
        }
      }

      .mobileMenuButton {
        width: 39px;
        height: 39px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F1EFFF;
        color: #000;

        @media screen and (min-width: calc(#{variables.$breakpoint-tablet} + 1px)) {
          display: none;
        }

        & > * {
          position: absolute !important;
        }
      }

      .mobileMenu {
        position: absolute;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        top: 80px;
        right: 30px;
        box-shadow: 0px 39px 67px 5px rgba(43, 36, 88, 0.28);
        width: 160px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 120ms ease-in-out;

        &.visible {
          opacity: 1;
          pointer-events: all;
        }
        
        > * {
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          color: #212043;
        }
      }
    }

    .contactsContainer {
      position: relative;
      font-size: 10px;

      .contacts {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        background-color: #fff;
        padding: 20px;
        width: 400px;
        z-index: 7;
        border-radius: 20px;
        margin-top: 30px;
        box-shadow: 0px 31.5708px 109.445px 7.36652px rgba(132, 124, 191, 0.5);
        cursor: auto;

        > * {
          gap: 1em;
        }
      }

      .contactsButton:hover + .contacts,
      .contacts:hover {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}