.input {
  height: 81px;
  background: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #6F6C90;
  padding-left: 40px;
  border: 1px solid #9CABC8;
  border-radius: 94px;
}