.input {
  background: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #6F6C90;
  border: 1px solid #9CABC8;

  &.cornered {
    border-radius: 10px;
    padding: 6px 20px;
    height: 42px;
    color: #6F6C90;
    font-size: 17px;
    font-weight: 400;
  }
 
  &.default {
    border-radius: 94px;
    padding-left: 40px;
    height: 81px;
  }
}