@use '@/shared/styles/variables.scss' as variables;

.allPromos {
  width: 100%;
  max-width: variables.$max-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  @media screen and (max-width: variables.$breakpoint-tablet) {
    padding: 0 15px;
  }

  h1 {
    width: 100%;
  }

  .promos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;

    > * {
      width: 100%;
    }

    @media screen and (max-width: 930px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: variables.$breakpoint-tablet) {
      flex-direction: column;
    }
  }

  .showAll {
    display: flex;
    justify-content: center;
  }
}