@use '@/shared/styles/variables.scss' as variables;

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 50px;

  .introCard {
    width: 440px;
  }
  
  @media screen and (max-width: variables.$breakpoint-tablet) {
    flex-direction: column;

    .introCard {
      width: 100%;
    }

    svg {
      width: 100%;
    }
  }
}