@use '@/shared/styles/variables.scss' as variables;

.timer {
  display: flex;
  justify-content: center;
  width: 100%;

  font-weight: 800;
  font-size: 107px;
  letter-spacing: 0.01em;
  color: #15C993;
  
  @media screen and (max-width: variables.$breakpoint-tablet) {
    font-size: 50px;
    line-height: 90%;
  }

  > * {
    width: 12%;
    display: flex;
    justify-content: center;
  }
  
  > div {
    align-items: center;
    flex-direction: column;

    span:last-child {
      font-weight: 600;
      font-size: 26px;
      line-height: normal;

      @media screen and (max-width: variables.$breakpoint-tablet) {
        font-size: 10px;
      }
    }
  }
}