.card {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .image {
    position: relative;
    aspect-ratio: 264 / 158;
    width: 100%;
    height: auto;

    img {
      border-radius: 15px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
    flex: 1;

    p {
      flex: 1;
    }

    .date {
      color: #8C88A6;
      font-size: 15px;

      span {
        color: #000;
      }
    }
  }
}

